// Theme Colors
$color-primary: #00c6ff;
$color-secondary: #0072ff;
$color-accent: hsl(272, 76%, 53%);
$color-text-dark: #000000;
$color-text-light: #ffffff; 
$color-muted: #6c757d;
$color-border: #00c6ff;
$color-hover: #0072ff;
$bg-soft-blue: 	#E9F5FF;
$bg-blue: #007acc;